 <div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">TOUS LES CHAPITRES</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Liste des chapitres:
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                        {{ content_allChapters }}
                        </table>
                    </div>
                </div>
            </div>
        </div> 
        <!-- /. ROW  -->

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->